* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #0f0f0f;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: black;
}

.logo {
  color: orange;
}

nav a {
  color: gray;
  margin: 0 12px;
  text-decoration: none;
}

nav a:hover {
  color: orange;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.hero-img img {
  width: 250px;
  border-radius: 50%;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 15px;
  background-color: orange;
  color: black;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 5px;
}

/* SECTIONS */
section {
  padding: 60px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
}

.grid div,
.card {
  background-color: #1a1a1a;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.projects {
  display: flex;
  gap: 20px;
}

/* FOOTER */
footer {
  background-color: black;
  text-align: center;
  padding: 15px;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .projects {
    flex-direction: column;
  }
}
